#main {
    width: 100%;
    height: auto;
    /* background-color: #ffffff; */
}

.main-font-backgroung {
    width: 100%;
    height: auto;
    position: relative;

}

.main-font-backgroung-inner {
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/home-new-bg-free-img.jpg);
    background-attachment: fixed;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.main-font-text {
    /* border: 1px solid black; */
    width: 75%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    position: relative;

}

.main-font-text-inner {
    max-width: 60%;
    width: 60%;
    height: auto;
    /* border: 1px solid black; */
    position: relative;
    left: 0;
    /* margin: 10px 10px; */
    margin-top: 130px;
    margin-bottom: 30px;
    padding: 10px 10px;
}

.main-text {
    width: 100%;
    margin-bottom: 23px;

    p {
        color: #ffffff;
        font-size: 4vw;
        font-weight: 600;
    }
}

.main-discount {
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    margin-bottom: 30px;

    p {
        color: #ffffff;
        font-size: 2.8vw;
        font-weight: 500;
    }
}

.main-detailsbtn {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 40px;
    margin-bottom: 23px;
    /* border: 1px solid black; */

    .main-btn {
        display: flex;
        width: 100%;
        height: 100%;

    }

}

.mainBtn {
    width: 115px;
    height: 55px;
    /* border: 1px solid black; */
    position: relative;

    a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0px 33px;
        background-color: #ffff;
        font-size: 1.2vw;
        border-radius: 6px;
        text-decoration: none;
        font-weight: 800;
        text-transform: capitalize;
    }
}

.mainbtn-read>a {
    background: transparent;
    /* border: 1px solid #000; */
    color: #ffff;
}


/* -----------------discount-displlay-------------------- */

.discount-display {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: inline-block;
    position: relative;

}

.discount-display-inner {
    width: 100%;
    /* max-width: 100%; */
    height: 100%;
    margin: 0px auto;
    /* border: 1px solid #000;   */

}

.display-elimentor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 0px;
    background-color: white;
    padding: 0;
}

.display-elimentor-sponsers {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
    overflow: hidden;
    /* border: 1px solid #000;   */
}

.sponsers-images {
    margin: 20px 0px;
    width: 16%;

    img {
        width: 70%;
        height: auto;

    }
}

.display-discount-cart {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-cart {
    width: 370px;
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
    margin: 5px;
}

.display-cart-inner {
    background-color: #0000005c;
    width: 100%;
    height: 100%;
}

.display-cart-text-inner {
    width: 100%;
    height: auto;
    padding: 10px 10px;
    bottom: 40px;
    position: absolute;
}

.cart-text {
    width: 100%;

    /* border: 1px solid #000;   */
    h3 {
        color: #ffffff;
        font-weight: 800;
        font-size: 2vw;
        margin-bottom: 15px;
    }

    p {
        margin-top: 10px;
        color: #ffffff;
        font-weight: 800;
        font-size: 1vw;
    }
}

.cart-btn {
    /* border: 1px solid #000; */
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 6px;
    margin-top: 16px;
    margin-bottom: 20px;

    a {
        text-transform: capitalize;
    }

}

.cart-btn:hover {
    background-color: #000;
    color: #ffff;
}


/* --------------------product-list----------------- */
.products {
    max-width: 100%;
    height: auto;
    /* border: 1px solid #000; */

}

.product-list {
    width: 90%;
    height: 100%;
    margin: 0px auto;
    padding: 100px 0px;

}

.product-list-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #000; */

}

.list-heding {
    width: 100%;
    height: 100px;
    /* border: 1px solid #000; */

}


.list-heading-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    h3 {
        font-weight: 800;
        font-size: 3.1vw;
    }
}

.list-style-line {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-style-line-inner {
    width: 12%;
    height: 0%;
    border: 1.5px solid #0417e6;

}

.product-items {
    width: 100%;
    height: auto;
    /* border: 1px solid #000; */

}

.product-items-inner {
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    /* border: 1px solid #000; */

    ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        flex-wrap: wrap;
    }
}

.product-cart {
    width: 248px;
    height: auto;
    border: 1px solid #00000032;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px 5px 10px 5px;
}

.product-cart-image {
    width: 100%;
    height: 280px;

    img {
        width: 100%;
        height: 100%;

    }
}

.product-cart-details {
    width: 100%;
    height: calc(100% - 280px);
    /* border: 1px solid black; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.product-cart-name {
    p {
        font-size: 21px;
        font-weight: 400;
        padding: 10px 10px;
    }


}

.product-cart-genden,
.product-cart-price {
    p {
        font-size: 17px;
        font-weight: 200;
        padding: 10px 10px;
    }
}

.product-cart-btn {
    margin: 13px 9px;

    a {
        text-decoration: none;
        font-size: 17px;
        padding: 10px 10px;
        background-color: #000;
        color: #ffffff;
        border-radius: 5px;
        display: inline-block;
    }

    a:hover {
        color: #ffffff;
        background-color: #0000005a;
    }
}

.product-discount-poster {
    width: 100%;
    height: 600px;
    margin-top: auto;
}

.product-discount-poster-inner {
    width: 100%;
    height: 100%;

}

.product-discount-poster-image {
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/banner-03.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.product-poster-content {
    max-width: 50%;
    width: 50%;
    height: auto;
    display: flex;
    /* border: 1px solid #000; */
    position: absolute;
    flex-direction: column;
    left: 70px;

}

.product-text1 {
    color: #ffff;

    h3 {
        font-size: 4vw;
        font-weight: 800;
        text-transform: capitalize;
        padding: 23px 27px;


    }

    p {
        font-size: 1.3vw;
        font-weight: 400;
        text-transform: capitalize;
        padding: 23px 27px;
    }
}

.product-text-btn {
    margin: 23px 27px;

}


.elimentor-eliment {
    width: 100%;
    margin-top: 80px;

}

.elimentor-eliment-inner {
    max-width: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.elimentor-content-box {
    /* border: 1px solid #000;   */
    max-width: 25%;
    width: 25%;
    display: inline-block;

}

.elimentor-content-box-iiner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;

}

.elimentor-content-image {
    width: 24%;
    /* height: 50px; */

    img {
        width: 100%;
        height: 100%;

    }
}

.elimentor-content-heading {
    p {
        padding: 23px 0px;
        font-size: 1.4vw;
        font-weight: 600;
        text-transform: capitalize;

    }

}

.elimentor-content-details {
    text-align: justify;

    p {
        padding: 7px 27px;
        font-size: 1.2vw;
        font-weight: 100;
        text-transform: capitalize;
        text-align: justify;


    }

}

/* -------------------- resposive---------------------- */


@media (max-width:1024px) {
    .display-discount-cart {
        flex-direction: column;

    }

    .display-cart {
        /* width: auto; */
        width: 400px;
        margin: 5px;
    }

    .sponsers-images {
        img {
            width: 90%;
            height: auto;

        }
    }

    .cart-text {
        width: 100%;

        h3 {
            font-size: 3.5vw;
        }

        p {
            font-size: 2vw;
        }
    }

    .cart-btn {
        width: 95px;
        height: 35px;
        font-size: 1.3vw;
    }
}


@media (max-width:768px) {
    .main-font-text-inner {
        max-width: 80%;
        width: 80%;
    }

    .cart-btn {

        font-size: 1.7vw;
    }

    .product-text1 {
        color: #ffff;

        h3 {
            font-size: 5vw;

        }

        p {
            font-size: 1.8vw;
        }
    }
    .elimentor-content-image {
        width: 35%;
    }
    
    .elimentor-content-heading {
        p {
            padding: 8px 0px;
            margin: 0;
            font-size: 1.6vw;
        }
    }

    .elimentor-content-details {

        p {
            padding: 0;

            font-size: 1.5vw;
            font-weight: 600;

        }
    }
}

@media (max-width:426px) {
    .main-font-backgroung-inner {
        background-position: right bottom;

    }

    .main-font-text-inner {
        max-width: 80%;
        width: 80%;
    }

    .main-font-text {
        width: 100%;

    }

    .main-text {


        p {
            font-size: 8vw;
        }
    }

    .main-discount {


        p {
            font-size: 4.8vw;
        }
    }

    .mainBtn {
        a {
            font-size: 3vw;

        }
    }

    .sponsers-images {
        margin: 10px 0px;

        img {
            width: 100%;
            height: auto;

        }
    }

    .display-cart {
        /* width: auto; */
        width: 300px;
        height: 400px;

        margin: 5px;
    }

    .cart-text {
        width: 100%;

        h3 {
            font-size: 6vw;
        }

        p {
            font-size: 3vw;
        }
    }

    .cart-btn {
        width: 77px;
        height: 27px;
        font-size: 2.3vw;
    }

    .product-cart {
        width: 335px;
    }

    .product-discount-poster-image {
        padding: 0;
    }

    .product-poster-content {
        max-width: 90%;
        width: 90%;
        left: 0;

    }

    .product-text1 {
        color: #ffff;

        h3 {
            font-size: 8vw;

        }

        p {
            font-size: 3vw;
        }
    }
    .elimentor-content-heading {
        p {
            padding: 8px 0px;
            margin: 0;
        font-size: 1.9vw;
        }
    }
    .product-list{
        padding: 20px 0px;
    }
}

@media (max-width:376px) {}

@media (max-width:320px) {}