<div id="main" [ngSwitch]="menuType">
    <div class="navitems" *ngSwitchCase="'default'">
        <ul  class="navitem-ul">
            <li class="navitem-li" title="{{navitem.name}}" *ngFor="let navitem of navitems">
                <a class="navitem-a active" routerLink="{{navitem.routlink}}">
                    <i class="{{navitem.icon}}"></i>
                    {{navitem.name}}
                </a>


            </li>
            <li class="navitem-li" >
                <a class="navitem-a active" style="text-transform: capitalize;" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i>log out</a>

            </li>
        </ul>

    </div>
    <div class="navitems" *ngSwitchCase="'telecaller'">
        
        <ul  class="navitem-ul">
            <li class="navitem-li" title="{{navitemsTelecaller.name}}" *ngFor="let navitemsTelecaller of navitemsTelecallers">
                <a class="navitem-a active" routerLink="{{navitemsTelecaller.routlink}}">
                    <i class="{{navitemsTelecaller.icon}}"></i>
                    {{navitemsTelecaller.name}}
                </a>


            </li>
            <li class="navitem-li" >
                <a class="navitem-a active" style="text-transform: capitalize;" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i>log out</a>

            </li>
        </ul>

    </div>
    <div class="navitems" *ngSwitchCase="'empty'">
        <p>Pleace Contact Admin Section</p>

    </div>
    <div class="navitems" *ngSwitchCase="'dealler'">
        <ul *ngFor="let navitem of navitems" class="navitem-ul">
            <li class="navitem-li" title="{{navitem.name}}">
                <a class="navitem-a active" routerLink="{{navitem.routlink}}">
                    <i class="{{navitem.icon}}"></i>
                    {{navitem.name}}
                </a>
                <!-- <a class="navitem-a active" style="text-transform: capitalize;" (click)="logout()">log out</a> -->


            </li>

        </ul>

    </div>

</div>