<div id="main">
   <div class="footer-dicount-display">
      <div class="footer-dicount-display-inner">
         <p>
            SALE UP TO 70% OFF FOR ALL CLOTHES & FASHION ITEMS, ON ALL BRANDS.
         </p>
      </div>
   </div>
   <div class="footer-options">
      <div class="footer-options-inner">
         <div class="footer-details">
            <div class="nav-logo">
               <a [routerLink]="['/app-home']"> <img src="/assets/images/logo@2x-free-img.png"></a>

           </div>

            <p>The best look anytime, anywhere.</p>
         </div>
         <div class="footer-nav-option">
            <div class="footer-nav-option-inner">
               <div class="footer-nav-items">
                  <p>For her</p>
                  <div class="footer-nav">
                     <a> women jeans</a>
                     <a> women jeans</a>
                     <a> women jeans</a>
                     <a> women jeans</a>
                     <a> women jeans</a>
                     <a> women jeans</a>
                  </div>
               </div>

            </div>
         </div>
         <div class="footer-nav-option">
            <div class="footer-nav-option-inner">
               <div class="footer-nav-items">
                  <p>For her</p>
                  <div class="footer-nav">
                     <a> women jeans</a>
                     <a> women jeans</a>
                     <a> women jeanssasa</a>
                     <a> women jeans</a>
                     <a> women jeans</a>
                     <a> women jeans</a>
                  </div>
               </div>

            </div>
         </div>
         <div class="footer-subscribe">
            <div class="footer-subscribe-inner">
               <p>subscribe</p>
               <div class="footer-subscribe-input">
                  <input type="email" [placeholder]="['your email address...']">
                  <button type="button">subscribe</button>
               </div>

            </div>
         </div>
      </div>
   </div>
   <div class="footer-social-media">
      <div class="footer-social-media-inner">
         <p>Copyright © 2024 Brandstore. Powered by Brandstore.</p>
         <div class="footer-social-media-sticker">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-google"></i>

         </div>
      </div>
   </div>

</div>