#main {
    width: 100%;
    height: 100%;
    /* background-color: #6ec1e4; */

}

.nav {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    /* border: 1px solid black; */
    /* padding: 0px 30px 0px 30px; */

}

.nav-inner {
    width: 100%;
    height: 100%;
}

.nav-items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    position: relative;

    .nav-logo {
        width: 140px;
        height: 45px;
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: center;
        left: 15px;
        position: relative;

        a {
            list-style: none;
            width: 100%;
            height: 100%;

        }

        img {
            width: 100%;
            height: 100%;
        }
    }

}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            list-style: none;

            /* border: 1px solid black; */
            padding: 7px 24px;
            margin: 0px 20px;
            font-size: 17px;
            gap: 1px;
            text-transform: capitalize;


        }

        a {
            text-decoration: none;
            color: #000;
        }
    }
}

.drop-down {
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    top: 90px;
    right: 12px;
    width: 0;
    height: 0;
    /* transition: ease-in-out 1s width 100s, height 100s; */
    transition: height 160ms ease-in;
    transition: height 1400ms ease-in, bottom 1600ms ease-in;




    .drop-down-inner {
        padding: 0;
        gap: 5px;
        display: flex;
        flex-direction: column;

        li {
            width: 100px;
            /* border: 1px solid black; */
        }

        li:hover {
            background-color: #000;
            border: 1px solid black;

            a {
                color: #ffff;
            }
        }
    }
}

.app-nav {
    display: block;
    width: 140px;
    height: 155px;
    /* transition: ease-in-out 1s width 100s, height 100s; */
    transition: height 180ms ease-in, bottom 160ms ease-in;

}

.nav-btn {
    width: 24px;
    height: 30px;
    right: 23px;
    position: relative;
    background: transparent;
    border-radius: 5px;
    border: none;
    transition: all 0.900ms ease-in;
    display: none;

}

.nav-btn:hover {
    background-color: rgba(130, 128, 128, 0.558);
    color: #fff;

    transition: all 0.900ms ease-in;
}

@media (max-width:768px) {
    .nav-btn {
        display: inline-block;

    }

    .nav-list {
        display: none;
    }
}