#main {
    max-width: 100%;
  }
  
  .shopping-cart {
    max-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  
  }
  
  .column-labels {
    max-width: 100%;
  
  }
  
  .column-labels-inner {
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    overflow: auto;
    margin: 0 auto;
    /* padding-bottom: 10px; */
    border-bottom: 1px solid #eee;
  
  }
  
  .product {
    max-width: 100%;
    margin-bottom: 10px;
    padding-bottom: 5px;
  
    display: flex;
    align-items: center;
  
  }
  
  .products {
    max-width: 100%;
    max-height: 340px;
    overflow: hidden;
  }
  
  .products-inner {
    width: 90%;
    /* height: 340px; */
    max-height: 340px;
  
    overflow: auto;
    margin: 0 auto;
    border-top: 1px solid #eee;
  
  }
  
  .products-inner::-webkit-scrollbar {
    display: none;
  }
  
  .product-image,
  img {
    width: 100px;
  }
  
  .product-image {
    float: left;
    width: 20%;
    text-align: center;
  
  }
  
  
  
  .product-details {
    float: left;
    width: 37%;
  
  }
  
  .product-title {
    margin-right: 20px;
  
  }
  
  .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
  }
  
  .product-price {
    float: left;
    width: 12%;
  }
  
  .product-quantity,
  input {
    width: 40px;
  
  }
  
  .product-quantity {
    float: left;
    width: 10%;
  }
  
  
  
  .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
  }
  
  .remove-product:hover {
    background-color: #a44;
  }
  
  .product-removal {
    float: left;
    width: 9%;
  }
  
  .product-line-price {
    float: left;
    width: 12%;
    text-align: right;
  }
  
  
  
  /* totals  */
  
  
  .totals {
    max-width: 100%;
    max-height: 235px;
    border-top: 1px solid #eee;
    display: flex;
    /* border: 1px solid #000000; */
  
  }
  
  .address {
    width: 80%;
    min-height: 150px;
    /* border: 1px solid #000000; */
  }
  
  .address-inner {
    width: 100%;
    height: 100%;
    overflow: auto;
    border-right: 1px solid #eee;
  
  }
  
  .address-inner::-webkit-scrollbar {
    display: none;
  
  }
  
  .address-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 18px;
  }
  
  .address-form>p {
    width: 100%;
    font-size: 25px;
    font-weight: 400;
  
  }
  
  .address-form-input {
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  
  .form-inputs {
    width: 260px;
    height: 75px;
    /* padding: 0px 20px ; */
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #000000; */
  
  }
  
  .form-inputs>input {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 10px 0px;
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 12px;
  }
  
  .address-changed {
    width: 100%;
    height: 100%;
  
  }
  
  .address-changed-inner {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000000; */
    margin: 0px auto;
  
    p {
      font-size: 16px;
    }
  }
  
  /* -------------------------------------------- */
  
  .totals-inner {
    width: 20%;
    height: 100%;
    position: relative;
    padding: 0px 10px;
    /* border: 1px solid #000000; */
    display: flex;
    flex-direction: column;
  }
  .totals-inner-list {
    width: 100%;
    height: 100%;
  } 
  .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
    label {
      float: left;
      clear: both;
      width: 35%;
      text-align: right;
    }
    .totals-value {
      float: right;
      width: 21%;
      text-align: right;
      margin: 0px 15px;
    }
  }
  /* checkout button */
  .checkout {
    position: relative;
    width: 140px;
    float: right;
    float: right;
    border: 0;
    margin-top: 20px;
    right: 30px;
    left: 0;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
  }
  .btn {
    width: 145px;
    height: 35px;
    margin-top: 20px;
    background-color: #6b6;
    font-size: 12px;
    border-radius: 5px;
    color: #fff;
    padding: 6px 25px;
    /* margin: 13px 20px; */
    top: 9px;
    position: relative;
  }
  .btn:hover {
    background-color: #494;
  }  
  .checkout:hover {
    background-color: #494;
  }
  .order-DoneStatus {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .order-DoneStatus-inner {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    /* border: 1px solid black; */
  
    p {
      font-size: 20px;
    }
    i {
      font-size: 24px;
      color: #494;
    }
  }
  @media screen and (max-width: 650px) {
    .shopping-cart {
      margin: 0;
      padding-top: 20px;
      border-top: 1px solid #eee;
    }
    .column-labels {
      display: none;
    } 
    .product-image {
      float: right;
      width: auto;
      img {
        margin: 0 0 10px 10px;
      }
    }
    .product-details {
      float: none;
      margin-bottom: 10px;
      width: auto;
    } 
   .product-price {
      clear: both;
      width: 70px;
    }
    .product-quantity {
      width: 100px; 
      input {
        margin-left: 20px;
      }
    }
    .product-quantity:before {
      content: 'x';
    }
    .product-removal {
      width: auto;
    }
    .product-line-price {
      float: right;
      width: 70px;
    }

  }
  /* Make more adjustments for phone */
  @media screen and (max-width: 350px) { 
    .product-removal {
      float: right;
    } 
    .product-line-price {
      float: right;
      clear: left;
      width: auto;
      margin-top: 10px;
    }  
    .product .product-line-price:before {
      content: 'Item Total: $';
    }
    .totals {
      .totals-item {
        label {
          width: 60%;
        }
        .totals-value {
          width: 40%;
        }
      }
    }
  }