<div id="main">
    <div class="shopping-cart">

        <div class="column-labels">
            <div class="column-labels-inner">
                <label class="product-image">Image</label>
                <label class="product-details">Product</label>
                <label class="product-price">Price</label>
                <label class="product-quantity">Quantity</label>
                <label class="product-removal">Remove</label>
                <label class="product-line-price">Total</label>
            </div>
        </div>
        <div class="products">
            <div class="products-inner">
                <div class="product" *ngFor="let i of coustomercartProduts">
                    <div class="product-image">
                        <a [routerLink]="['/products-details',i.productId]"> <img [src]="i.product_image_link"></a>
                    </div>
                    <div class="product-details">
                        <div class="product-title">{{i.product_name}}</div>
                        <p class="product-description"></p>

                    </div>
                    <div class="product-price">{{i.product_price}}</div>
                    <div class="product-quantity">
                        <!-- <input type="number" value="2" min="1"> -->
                        {{i.quantity}}
                    </div>
                    <div class="product-removal">
                        <button class="remove-product" (click)="removeTocart(i.id)">
                            Remove
                        </button>
                    </div>
                    <div class="product-line-price">{{i.product_price*i.quantity}}</div>
                </div>
            </div>
        </div>
        <div class="totals" [ngSwitch]="afterBuyNow">
            <div class="address">
                <div class="address-inner" *ngSwitchCase="'address'">
                    <div class="address-form">
                        <p>Shipping address</p>
                        <form class="address-form-input" #address="ngForm" maxlength="10" minlength="10" required
                            (ngSubmit)="addressdata(address.value)">
                            <div class="form-inputs">
                                <label for="">Address</label>
                                <input type="text" placeholder="Address" maxlength="100" minlength="3" required ngModel
                                    name="Address" #Address="ngModel"> <div class="error" style="color: red; text-transform: capitalize;" *ngIf="Address.touched && (Address.invalid||Address.dirty) ">
                                        <span *ngIf="Address.errors?.['required']"> * Please Enter your address </span>
                                        <span *ngIf="Address.errors?.['minlength']"> * Min 3 charactors needed</span>
                                        <span *ngIf="Address.errors?.['maxlength']"> * Min 25 charactors needed </span>
                                    </div>                               
                            </div>
                            <div class="form-inputs">
                                <label for="">Land mark</label>
                                <input type="text" placeholder="Land mark" maxlength="100" minlength="3" required
                                    ngModel name="Land_mark" #landmark="ngModel"> <div class="error" style="color: red; text-transform: capitalize;" *ngIf="landmark.touched && (landmark.invalid||landmark.dirty) ">
                                        <span *ngIf="landmark.errors?.['required']"> * Please Enter your land mark </span>
                                        <span *ngIf="landmark.errors?.['minlength']"> * Min 3 charactors needed</span>
                                        <span *ngIf="landmark.errors?.['maxlength']"> * Min 25 charactors needed </span>
                                    </div>                              
                            </div>
                            <div class="form-inputs">
                                <label for="">Contact no</label>
                                <input type="text" placeholder="Contact no" maxlength="10" minlength="10" required
                                    ngModel name="Contact_no" #contactNo="ngModel"> <div class="error" style="color: red; text-transform: capitalize;" *ngIf="contactNo.touched && (contactNo.invalid||contactNo.dirty)">
                                        <span *ngIf="contactNo.errors?.['required']"> * Please Enter your contact no </span>
                                        <span *ngIf="contactNo.errors?.['minlength']"> * Min 3 charactors needed</span>
                                        <span *ngIf="contactNo.errors?.['maxlength']"> * Min 25 charactors needed </span>
                                    </div>                                
                            </div>
                            <div class="form-inputs">
                                <label for="">Email</label>
                                <input type="email" placeholder="Email" maxlength="30"  required ngModel
                                    name="Email" #email="ngModel"> <div class="error" style="color: red; text-transform: capitalize;" *ngIf="email.touched && (email.invalid||email.dirty) ">
                                        <span *ngIf="email.errors?.['required']"> * Please Enter your product name </span>
                                        <span *ngIf="email.errors?.['minlength']"> * Min 3 charactors needed</span>
                                        <span *ngIf="email.errors?.['maxlength']"> * Min 25 charactors needed </span>
                                    </div>
                            </div>
                            <button class="btn" *ngIf="address" >Checkout</button>
                        </form>
                    </div>
                </div>
                <div class="address-changed" *ngSwitchCase="'checkout'">

                    <div class="address-changed-inner">
                        <p>If you changed your Shipping address? </p>
                        <div class="address-btn">
                            <button type="button" class="btn"
                                style="background-color: rgba(245, 28, 28, 0.862); color: #fff;" (click)="removeAdderss()">Remove address</button> &nbsp;
                            <button type="button" class="btn" (click)="orderPlased()">Cash on delivery</button>
                        </div>

                    </div>

                </div>
                <div class="order-DoneStatus" *ngSwitchCase="'notification'">
                    <div class="order-DoneStatus-inner">
                        <p>Order placed Successfull! <i class="fa-solid fa-check"></i></p>
                    </div>
                </div>
            </div>
            <div class="totals-inner">
                <div class="totals-inner-list">
                    <div class="totals-item">
                        <label>Subtotal</label>
                        <div class="totals-value" id="cart-subtotal">{{pricesummery.price}}</div>
                    </div>
                    <div class="totals-item">
                        <label>Tax (5%)</label>
                        <div class="totals-value" id="cart-tax">{{pricesummery.Tax}}</div>
                    </div>
                    <div class="totals-item">
                        <label>Shipping</label>
                        <div class="totals-value" id="cart-shipping">{{pricesummery.Shipping}}</div>
                    </div>
                    <div class="totals-item totals-item-total">
                        <label>Grand Total</label>
                        <div class="totals-value" id="cart-total">{{pricesummery.total}}</div>
                    </div>
                </div>
                <button class="checkout" (click)="buyNowProduct()" *ngSwitchCase="'buyNow'">Buy now</button>

            </div>
        </div>
    </div>
</div>