<div id="main">
    <div class="activity">
        <div class="activity-inner">
            <div class="box">
                <div class="box-inner">
                    <div class="user-no">
                        <p>{{adminLength}}</p>
                        <h5>admin</h5>
                    </div>
                    <div class="logo">
                        <div class="logo-inner">
                            <i class="fa-regular fa-user"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-inner">
                    <div class="user-no">
                         <p>{{dealesLength}}</p>
                        <h5>dealers</h5>
                    </div>
                    <div class="logo">
                        <div class="logo-inner">
                            <i class="fa-solid fa-house"></i>

                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-inner">
                    <div class="user-no">
                         <p>0</p>
                        <h5>coustomer</h5>
                    </div>
                    <div class="logo">
                        <div class="logo-inner">
                            <i class="fa-solid fa-house"></i>

                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-inner">
                    <div class="user-no">
                         <p>{{dealesProductLength}}</p>
                        <h5>products</h5>
                    </div>
                    <div class="logo">
                        <div class="logo-inner">
                            <i class="fa-solid fa-list"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>