

main{
    width: 100%;
    position: relative;
}
app-navbar{
    width: 100%;
    height: 105px;
    display: block;
    margin-top: 0;
}
.website-layout-content{
    width: 100%;
    height:auto;
    /* background-color: aquamarine; */
}
app-footer{
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: auto;
    /* border: 1px solid black; */
}