<div id="main">
    <div class="activity">
        <div class="activity-inner">
            <div class="box">
                <div class="box-inner">
                    <div class="user-no">
                        <p>{{dealesName}}</p>
                        <h5>profle</h5>
                    </div>
                    <div class="logo">
                        <div class="logo-inner">
                            <i class="fa-regular fa-user"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-inner">
                    <div class="user-no">
                         <p>{{dealesProductLength}}</p>
                        <h5>your product</h5>
                    </div>
                    <div class="logo">
                        <div class="logo-inner">
                            <i class="fa-solid fa-house"></i>

                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-inner">
                    <div class="user-no">
                         <p>{{dealesOrdersProductLength}}</p>
                        <h5>your order's</h5>
                    </div>
                    <div class="logo">
                        <div class="logo-inner">
                            <i class="fa-solid fa-house"></i>

                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-inner">
                    <div class="user-no">
                         <p>₹ 1'00'000</p>
                        <h5>total income</h5>
                    </div>
                    <div class="logo">
                        <div class="logo-inner">
                            <i class="fa-solid fa-list"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>